* {
    font-family: 'Roboto', sans-serif;
    /*No se cambia el tamaño de fuente desde css*/
}

/* body header, section {
    background-color: #28A745;
} */

.card:hover {
    box-shadow: 5px 5px 20px #000000;
    transform: translateY(-3%);
}

nav img,
footer img {
    width: 86pt;
    height: 30pt;
}

/* .price {
    color: #28A745;
} */